
    <article class="article-item {{ class }}">
        <div class="article-item__thumbnail">
            <img src="{{ article.thumbnail }}" alt="{{ article.name }}">
        </div>
        <div class="article-item__content">
            <h2 class="article-item__heading">
                {{ article.name }}
            </h2>
            <p class="article-item__perex">
                {{ article.perex }}
            </p>
        </div>
    </article>
