<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ title }}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('main') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            {{ render(controller('App\\Controller\\Layout\\HeaderController::show')) }}
        {% endblock %}

        {% block main_content %}
        {% endblock %}

        {% block footer %}
            {{ render(controller('App\\Controller\\Layout\\FooterController::show')) }}
        {% endblock %}
    </body>
</html>
